@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #424551;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer utilities {
  .transition-default {
    @apply transition-all duration-300 ease-in-out;
  }
}

@layer utilities {
  @keyframes fillProgress {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }

  .animate-fill {
    animation: fillProgress 5s linear forwards;
  }
}

.anim {
  transition: background-color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
}

@layer utilities {
  .shadow-soft-multi {
    box-shadow:
      0px 4px 4px -4px #1E212C08,
      0px 12px 10px -6px #9A9CA50A,
      0px 30px 24px -10px #9A9CA50D,
      0px 80px 80px -20px #9A9CA514;
  }
}

@layer utilities {
  .shadow-soft-multi-active {
    box-shadow: 0px 4px 4px -4px #1E212C0D,
      0px 12px 10px -6px #FF5A3014,
      0px 26px 24px -10px #FF5A301A,
      0px 60px 80px -20px #FF5A3029;
  }
}

@layer utilities {
  .shadow-soft-multi_sec {
    box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08),
      0 30px 24px -10px rgba(154, 156, 165, 0.05),
      0 12px 10px -6px rgba(154, 156, 165, 0.04),
      0 4px 4px -4px rgba(30, 33, 44, 0.03);
  }
}

@layer utilities {
  .contacts_shadow {
    box-shadow: 0 60px 80px -20px rgba(30, 33, 44, .16), 0 26px 24px -10px rgba(30, 33, 44, .1), 0 12px 10px -6px rgba(30, 33, 44, .08), 0 4px 4px -4px rgba(30, 33, 44, .05);
  }
}

.services-section {
  padding-top: 212px;
  padding-bottom: 80px;
  background-image: url(/images/bg_service.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .services-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@layer utilities {
  .scroll-btn {
    right: calc((100% - 1230px)/ 2);
  }
}

.reverse-spin {
  animation: spin 1s linear infinite reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}